{{!< default}}
<div class="container">
		<h1 class="text-center">About Me</h1>

		<div id="about-content">
				<p>Hey! I'm Craig. I'm a software developer from New York City. I have a wide range of <a href="/skills">full-stack skills</a>, but I tend to focus most of my energy on front-end web applications. I specialize in building user-centric websites and web applications in Node.js.</p>
				<p>After graduating the University of Virginia with a degree in Computer Science, I moved to the Big Apple where I have <a href="/experience">worked in a variety of industries</a>, including financial services, e-commerce, and most recently, streaming video.</p>
				<p>When I'm not building web apps, I love to travel, run, and explore my city. I also play guitar in a band and write my own music.</p>
				<p>Whether you need a basic information site, an e-commerce site, or something special, I can help you build the website of your dreams! <a href="/contact">Contact me</a> to get started.</p>
		</div>
</div>
