{{!< default}}
<div class="container">
		<div class="home-container">
				<h1 id="site-title">Craig Schwartz</h1>
				<h3 id="site-subtitle">Hi, I'm Craig. I build user-friendly websites and web applications.</h3>
				<div class="home-container__links">
						<a class="btn btn-primary" href="/about">Learn More</a>
						<a class="btn btn-primary" href="/contact">Contact Me</a>
				</div>
		</div>
</div>
