{
    "extends": "keystone",
    "rules": {
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "comma-dangle": ["error", "never"],
        "indent": "off",
        "new-cap": "off",
        "no-tabs": "off",
        "padded-blocks": "off",
        "semi": ["error", "always"]
    }
}
