@import 'variables';

body {
		background: @black;
		background: -webkit-linear-gradient(@darker-grey, @black);
		background: -o-linear-gradient(@darker-grey, @black);
		background: -moz-linear-gradient(@darker-grey, @black);
		background: linear-gradient(@darker-grey, @black);
		background-attachment: fixed;
		background-repeat: no-repeat;
		color: @white;
		font-family: 'Lato', Helvetica, sans-serif;
		height: 100%;
}

h1, h2, h3, h4, h5 {
		font-weight: bold;
		letter-spacing: -0.5px;
}

a {
		color: @white;

		&:active, &:focus, &:hover {
				color: @goldenrod;
		}
}

.no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.btn.btn-primary {
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid @goldenrod;
		border-radius: 20px;
		color: @goldenrod;
		display: block;
		font-weight: bold;
		letter-spacing: 0.5px;
		margin: 0 auto;
		padding: 10px 40px;
		transition: 0.2s;

		&:hover {
				background-color: @goldenrod;
				color: @black;
				cursor: pointer;
				padding: 10px 50px;
				transition: 0.2s;
		}
}

.success-message {
		border: 3px solid @success;
		border-radius: 20px;
		display: table;
		font-size: 18px;
		margin: 0 auto;
		padding: 10px 40px;
		text-align: center;
}

.pagination {
		display: table;
		margin: 20px auto;

		li {
				a {
						background-color: transparent !important;
						border: 0 !important;
						color: @white;

						&:active, &:focus, &:hover {
								color: @goldenrod;
						}
				}
		}
}
