@import 'variables';

body {
		background-color: @black;
		color: @white;
}

.btn.btn-primary {
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid @goldenrod;
		border-radius: 20px;
		color: @goldenrod;
		display: block;
		margin: 0 auto;
		padding: 10px 40px;
		transition: 0.2s;

		&:hover {
				background-color: @goldenrod;
				color: @black;
				padding: 10px 50px;
				transition: 0.2s;
		}
}
