// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@black: #000000;
@white: #ffffff;
@dark-grey: #444444;
@darker-grey: #1f1f1f;
@light-grey: #aaaaaa;
@lighter-grey: #d0d0d0;
@goldenrod: #eecc00;
@green: #33dd33;
@blue: #3388ee;
@red: #ee3333;
