// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@black: #000000;
@white: #ffffff;
@dark-grey: #444444;
@darker-grey: #2f2f2f;
@light-grey: #aaaaaa;
@lighter-grey: #d0d0d0;
@goldenrod: #eecc00;
